*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	list-style-type: none;
}

html {
	font-size: 62.5%;
}

body {
	padding-bottom: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #333;
	background-color: #121212;
	position: relative;
}

.navbar {
	height: 40px;
	width: 100%;
	background-color: #1f1f1f;
	color: #f5f5f5;
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-Brand {
	font-size: 30px;
	line-height: 40px;
	/* position: absolute;
    left: 40px; */
	flex: 3;
	order: 1;
	margin-left: 40px;
	display: inline-block;
	color: #6200ee;
}
ul {
	flex: 2;
	order: 2;
	transition: none;
	display: flex;
}

.nav-link {
	display: inline-block;
	flex: 1;
}

.nav-link a {
	text-decoration: none;
	color: #f5f5f5;
	padding: 5px;
	font-size: 20px;
	text-transform: uppercase;
	transition: a 0.5s;
}

.nav-link a:hover {
	background-color: #6200ee;
	color: #f4f4f4;
}

.checkbtn {
	display: none;
}
#check {
	display: none;
}

.checkbtn i {
	font-size: 20px;
	line-height: 40px;
}

@media screen and (max-width: 991px) {
	.navbar {
		height: 30px;
	}

	.navbar-Brand {
		font-size: 20px;
		line-height: 30px;
		left: 30px;
	}
	.nav-link {
		margin-left: 30px;
	}
	.nav-link a {
		font-size: 15px;
	}
}

@media screen and (max-width: 767px) {
	.navbar {
		height: 50px;
		display: flex;
	}

	.navbar-Brand {
		font-size: 20px;
		line-height: 50px;
		left: 25px;
		flex: 1;
		order: 1;
		margin-left: 20px;
	}

	ul {
		display: block;
		background-color: #1f1f1f;
		position: fixed;
		left: 0;
		top: -100vh;
		width: 100%;
		height: 100vh;
		/* position: relative;
		top: 30px;
		left: 0; */
		transform: none;
		transition: all 0.5s;
		z-index: -1;
	}

	.nav-link {
		display: block;
		text-align: center;
		margin-bottom: 50px;
	}
	.nav-link a {
		font-size: 15px;
	}

	.checkbtn {
		display: block;
		order: 2;
	}

	.checkbtn i {
		line-height: 50px;
		cursor: pointer;
		margin-right: 10px;
	}

	#check:checked ~ ul {
		top: 30px;
	}
}
