*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	list-style-type: none;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	margin: auto;
	min-height: 100vh;
	padding-bottom: 5px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #333;
	background-color: #121212;
}

.container-main {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 20px;
}
nav {
	grid-column: 1 / 13;
	height: 60px;
	padding: 0 8px;
	background-color: #0f0f0f;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.6);
	border-radius: 3px 3px 0 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
}
#check {
	display: none;
}
nav .nav-brand {
	padding-left: 15px;
	grid-column: 1/ 6;
	color: #7d5e2a;
	font-size: 30px;
}
nav ul {
	grid-column: 6 / 13;
}
nav ul li {
	display: inline;
	margin-left: 60px;
}

nav ul li .nav-link {
	color: #f5f5f5;
	font-size: 20px;
	text-transform: uppercase;
	padding: 5px;
	cursor: pointer;
	font-weight: 500;
	transition: all 0.5s;
}
nav ul li .nav-link:hover {
	background-color: #7d5e2a;
	color: #000;
	border-radius: 3px;
}
nav label {
	display: none;
}

.checkbtn i {
	font-size: 20px;
	color: white;
}

main {
	grid-column: 1/13;
	grid-row: 2/12;
	background-color: #0f0f0f;
	margin: 0 10px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .main-content {
	text-align: center;
	width: 80%;
}
main .main-content h1 {
	font-size: 80px;
	color: #7d5e2a;
	text-transform: uppercase;
}

main .main-content h3 strong {
	color: #7d5e2a;
	cursor: pointer;
	transition: all 0.5s;
	margin-left: 3px;
}
main .main-content h3 strong:hover {
	background-color: #7d5e2a;
	color: #000;
	padding: 5px;
	border-radius: 3px;
}
footer {
	grid-column: 1/13;
	height: 60px;
	background-color: #0f0f0f;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
	color: #f5f5f5;
}
footer p strong {
	color: #7d5e2a;
	margin-right: 3px;
	transition: all 0.5s;
	cursor: pointer;
}

footer p strong:hover {
	background-color: #7d5e2a;
	color: #000;
	border-radius: 3px;
	padding: 5px;
}
div.fx {
	grid-column: 1/13;
	background-color: #0f0f0f;
	margin: 0 10px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	padding: 10px;
	min-height: 100vh;
}

div.fx .fx-head {
	color: #f5f5f5;
	padding: 5px;
	margin: 5px 0 0 15px;
	font-size: 15px;
	font-weight: 500;
}

div.fx .fx-head small {
	color: #f5f5f5;
	font-size: 8px;
	font-weight: 400;
	color: #7d5e2a;
}

div.fx-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	padding: 5px;
}
.card-3 {
	width: 30%;
	margin: 8px;
}
.card-2 {
	width: 45%;
	margin: 8px;
}
.card-1 {
	width: 90%;
	margin: 10px;
}
img {
	width: 100%;
}

div.fx-container .advice-link {
	color: #7d5e2a;
	font-size: 15px;
	font-weight: 500;
	padding: 5px;
	border-radius: 3px;
}

div.fx-container .advice-link:hover {
	background-color: #7d5e2a;
	color: #000;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 95vw;
	border: 1px solid #ddd;
	margin-top: 30px;
}
table caption {
	color: #f5f5f5;
	font-size: 15px;
}

th,
td {
	text-align: center;
	padding: 3px;
}

th {
	font-size: 15px;
	color: #7d5e2a;
}
td {
	font-size: 12px;
	color: #f5f5f5;
}
tr:nth-child(even) {
	background-color: #7d5e2a;
}

@media screen and (max-width: 768px) {
	.container-main {
		min-height: 100vh;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-row-gap: 20px;
	}

	nav {
		grid-column: 1 /9;
		height: 60px;
		padding: 0 6px;
		box-shadow: none;
		position: relative;
	}

	nav .nav-brand {
		padding-left: 10px;
		color: #7d5e2a;
		font-size: 22px;
		display: flex;
	}

	nav ul {
		grid-column: unset;
		min-height: 127vh;
		width: 100%;
		display: inline-block;
		background-color: #1f1f1f;
		position: absolute;
		top: 60px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}

	nav ul li {
		display: inline-block;
		width: 100%;
		padding-top: 40px;
		margin-left: 0px;
	}

	nav ul li .nav-link {
		font-size: 20px;
		transition: all 0.5s;
		cursor: pointer;
		color: #f5f5f5;
	}

	nav ul li .nav-link:hover {
		background-color: unset;
		color: #7d5e2a;
	}

	nav label {
		grid-column: 12/13;
		display: inline;
		order: 3;
		margin-right: 10px;
	}
	nav label i {
		cursor: pointer;
	}
	main {
		min-height: 100vh;
		z-index: -2;
	}

	main .main-content {
		text-align: center;
	}
	main .main-content h1 {
		font-size: 60px;
		color: #7d5e2a;
		text-transform: uppercase;
	}

	#check:checked ~ ul {
		left: 0;
	}
	footer {
		height: 60px;
	}
	.card-1,
	.card-2,
	.card-3 {
		width: 100%;
		padding: 5px;
		margin-bottom: 10px;
	}

	div.fx .fx-head {
		color: #f5f5f5;
		padding: 3px;
		margin: 3px 0 0 3px;
		font-size: 12px;
		font-weight: 500;
	}
	table {
		height: 80vh;
		overflow-y: scroll;
		display: block;
		width: 90vw;
		overflow-x: scroll;
	}
	.table-container .card-1 {
		margin: 0px;
		padding: 0px;
	}
}

@media screen and (max-width: 360px) {
	.container-main {
		min-height: 80vh;
	}
	main .main-content h1 {
		font-size: 40px;
	}
}
