.search {
	display: block;
	width: 40%;
	margin: auto;
}

.searchBox {
	color: #7d5e2a;
	background-color: black;
	font-size: large;
	border-radius: 3px;
	border-color: #7d5e2a;
	outline: none;
	width: 150px;
}

input:focus {
	padding-left: 5px;
}

.searchLabel {
	color: #7d5e2a;
	text-transform: lowercase;
	font-size: 18px;
	font-weight: 700;
}

::placeholder {
	color: #f5f5f5;
	opacity: 0.5;
	text-transform: lowercase;
}
